form {
	margin-top: 29px;
	margin-left: 29px;
}
input {
	margin-top: 2px;
	margin-bottom: 20px;
	width: 332px;
	height: 30px;
	border-radius: 3px;
}

.submit {
	background-color: #4997d0;
	color: #fff;
	border: none;
	border-radius: 3px;
	width: 332px;
	height: 30px;
	margin-bottom: 32px;
}

.close {
	position: absolute;
	width: 32px;
	height: 32px;
	background: none;
	border: none;
	outline: none;
	right: 10px;
	top: 15px;
}

.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
	top: 0px;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

::placeholder {
	padding-left: 10px;	
}

@media(max-width: 500px) {
	input, .submit {
		width: 200px;
	}
	form {
		text-align: center;
	}

}